body {
    background-color: slategrey;
    font-family: Arial, sans-serif;
}

.main {
    font-style: italic;
    font-family: Georgia;
    font-size: 5em;
    text-shadow: 0 0 4px black;
    margin-top: 1%;
    margin-bottom: 0;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

.menu {
    background-color: darkgreen;
    border: 0.5em solid black;
    table-layout: fixed;
}

a {
    text-decoration: none;
    font-style: italic;
    color: blue;
}

a:hover {
    font-weight: bold;
}

.menu a{
    display: block;
    text-decoration: none;
    color: black;
    font-family: "Georgia", serif;
    text-shadow: 1px 1px 5px black;
}

.menu td {
    border-right: 0.1em solid black;
    font-size: 2em;
    text-align: center;
}

.menu td:last-child{
    border-right: none;
}
.upper td.center {
    text-align: center;
}

.upper td.rightmost {
    text-align: right;
}

.games td  {
    text-align: center;
}

.games td img:hover {
    box-shadow: 0 0 25px black
}

.plaintext {
    margin-left: auto;
    margin-right: auto;
    width: 75em;
}

.plaintext table {
    table-layout: fixed;
}

.plaintext img {
    height: 250px;
    width: 225px;
    border-radius: 25px;
}